<!DOCTYPE html>


<html>
<head>
        <meta charset="utf-8" />
	<title>Debriefing</title>
	 <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" />
        <style type="text/css">
        /* these tyles need to be defined locally */
        body {
          margin: 20px;
          background-color: white;
          color: black;
          font-weight: 300;
          font-size: 13pt;
        }

        h1 {
          margin: auto;
        }
    </style>
</head>
<body>
	<div id="debriefing">
		<h1>Debriefing</h1>

		<div id="debriefingtext">
		<p>Thank you for your participation in our study!  Your anonymous data makes an
		important contribution to our understanding of human learning and memory. </p>

		<p>The study you just participated in is part of a series of studies looking at human inference. The goal of this particular study is to see how people use different kinds of information to make similarity judgments. </p>

		<p>In this study, you made similarity judgments between stimuli with different groups of shapes. We are interested in how your answers to questions reveal which kinds of information shape those judgments and change over time.  </p>
		
		<p>Thank you again for participating in our research! Feel free to contact us for more information about this study, email the Principle Investigator Professor Tom Griffiths at <a href="tomg@princeton.edu"> battleday@princeton.edu </a>, the researcher, at, <a href="battleday@princeton.edu"> battleday@princeton.edu </a>, or the Computational Cognitive Science Lab, at <a href="cocosci-lab@princeton.edu">cocosci-lab@princeton.edu </a>. </p>
		</div>

	</div>

<div id="references">
<u>Related Publications: </u>
<ol>
<li>Krueger, P. M., Lieder, F., & Griffiths, T. L. (2017). Enhancing Metacognitive Reinforcement learning using reward structures and feedback. In Proceedings of the 39th annual conference of the cognitive science society.</li>

<li>Lieder, F., Griffiths, T. L., Huys, Q. J., & Goodman, N. D. (2018). The anchoring bias reflects rational use of cognitive resources. Psychonomic bulletin & review, 25(1), 322-349.</li>

<li>Sanborn, S., Bourgin, D. D., Chang, M., & Griffiths, T. L. (2018). Representational efficiency outweighs action efficiency in human program induction. arXiv preprint arXiv:1807.07134.</li>
</ol>
</div>
</body>

</html>
